{% extends "_base.html" %}

{% block content %}

<h1>Artist login</h1>
<br>
<form class="form-login" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Sign in!</button>
  <br><br>
  <p>Need to <a href="/artist/register">Register</a>?</p>
</form>

      <form action="/charge" method="post">
    <article>
      <label>
        <span>Amount is $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="500"></script>
  </form>

{% endblock %}