{% extends "_base.html" %}
{% block content %}

<h1>Artists</h1>
<br>
<div class="container">

	<div class="row" id="facewrap">
		<div class="col-lg-6 col-sm-6" >
            <span id="face-wrapper" >
              <img class="img-circle face" src="http://i.huffpost.com/gen/710151/thumbs/s-ERMAHGERD-MEME-large.jpg" width="200"/>
            </span>
        </div>
        <div class="col-lg-6 col-sm-6" >
            <h2>Artist one: brief bio</h2>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Portrait sizes available
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Size 1: $100</a></li>
                        <li><a href="#">Size 2: $150</a></li>
                        <li><a href="#">Size 3: $200</a></li>
                      </ul>
                    </div>
        </div>
    </div>
    <div class="row" id="facewrap">
        <div class="col-lg-6 col-sm-6" >
            <span id="face-wrapper" >
              <img class="img-circle face" src="http://i.huffpost.com/gen/710151/thumbs/s-ERMAHGERD-MEME-large.jpg" width="200"/>
            </span>
        </div>
        <div class="col-lg-6 col-sm-6" >
            <h2>Artist one: brief bio</h2>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Portrait sizes available
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Size 1: $100</a></li>
                        <li><a href="#">Size 2: $150</a></li>
                        <li><a href="#">Size 3: $200</a></li>
                      </ul>
                    </div>
        </div>
    </div>

    <div class="row" id="facewrap">
        <div class="col-lg-6 col-sm-6" >
            <span id="face-wrapper" >
              <img class="img-circle face" src="http://i.huffpost.com/gen/710151/thumbs/s-ERMAHGERD-MEME-large.jpg" width="200"/>
            </span>
        </div>
        <div class="col-lg-6 col-sm-6" >
            <h2>Artist one: brief bio</h2>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Portrait sizes available
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Size 1: $100</a></li>
                        <li><a href="#">Size 2: $150</a></li>
                        <li><a href="#">Size 3: $200</a></li>
                      </ul>
                    </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}