{% extends "_base.html" %}
{% block content %}

<div class="container" >
        <h1><em>Commission an artist to render your best friend</em></h1>
    <div class="jumbotron" id="jumbo">
    <a class="pull-right btn btn-warning" href="{{ url_for('user.register') }}" style="margin-top: 150px;">Join now!</a>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        	<h2><strong>How it works</strong></h2>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <img  src="{{ url_for('static', filename = 'artist.svg') }}" style="height:80px;">
            <h3>Find an artist whose style matches your own</h3>
            <p>CSS is used for describing the presentation of web pages. The CSS tutorial section will help you learn the essentials of CSS, so that you can fine control the style and layout of your HTML document.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <img  src="{{ url_for('static', filename = 'upload.svg') }}" style="height:80px;">
            <h3>Upload your pet's picture and some notes</h3>
            <p>Bootstrap is a powerful front-end framework for faster and easier web development. The Bootstrap tutorial section will help you learn the techniques of Bootstrap so that you can create web your own website with much less efforts.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <img  src="{{ url_for('static', filename = 'gallery.svg') }}" style="height:80px;">
            <h3>Find a good place on your wall!</h3>
            <p>The references section outlines all the standard HTML tags and CSS properties along with other useful references such as color names and values, symbols and character entities, web safe fonts, language codes, HTTP messages and much more.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2><strong>Artist Profiles</strong></h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2><strong>FAQ</strong></h2>
        </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>© Copyright 2015</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>      
{% endblock %}